#!/usr/bin/make -f

pkg := $(shell dpkg-parsechangelog | sed -n 's/^Source: //p')

%:
	dh $@

override_dh_install:
	dh_install
	rm --recursive $(CURDIR)/debian/$(pkg)/usr/share/aclocal

override_dh_installchangelogs:
	dh_installchangelogs -k NEWS
